
{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
<h1 class="text-center my-4">Login</h1>
<form class="mx-auto" style="max-width: 400px;">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
</form>
{% endblock %}
{% block javascripts %}
<script src="/js/login.js"></script>
{% endblock %}